.job-cont {
  padding: 0px;
}

li[aria-label="slide item 1"] {
  background: url("images/asana.png");
  background-size: cover;
  width: 80px;
  height: 80px;
}

li[aria-label="slide item 2"] {
  background: url("images/akuna.png");
  background-size: cover;
  width: 80px;
  height: 80px;
}

li[aria-label="slide item 3"] {
  background: url("images/uci.png");
  background-size: cover;
  width: 80px;
  height: 80px;
}

li[aria-label="slide item 4"] {
  background: url("images/aetna.png");
  background-size: cover;
  width: 80px;
  height: 80px;
}

.thumb:not(.selected) {
  opacity: 0.6;
}

.selected {
  opacity: 1;
}
.thumb:hover,
.selected {
  opacity: 1;
  box-shadow: 0 20px 50px 0 rgba(34, 43, 55, 0.3);
}
.thumb {
  width: 80px !important;
  height: 80px !important;
  border: 0 !important;
  cursor: pointer;
}
